@import url('https://www.haskell.org/static/css/hscolour.css');

body {
    padding:0;
    margin:0;
    font:14px monospace;
}
#prompt::before {
    width:32px;
    height:14px;
    padding:7px 0;
    position:absolute;
    left:0;
    top:0;
    content:"\03bb";
    background:#BA2B1A;
    color:white;
    font:bold 14px monospace;
    text-align: center;
}
#prompt {
    width:0;
    height:0;
    float:left;
    margin:0 8px 0 32px;
    border-top:14px solid transparent;
    border-bottom:14px solid transparent;
    border-left:16px solid #BA2B1A;
}
#line, #type {
    height:14px;
    padding:7px;
    white-space:pre;
}
#line {
    width:100%;
    background:-webkit-gradient(linear,left top,right top,color-stop(0,#000000),color-stop(0.4,#222222));
    color:white;
}
#type {
    float:right;
    color:gray;
}
#cursor {
    background:white;
    color:black;
}
.hs-keyword, .hs-varop {
    color:yellow;
}
.hs-str, .hs-chr, .hs-num {
    color:magenta;
}
